.App {
  display: flex;
}

.sidebar {
  flex: 0 0 200px;
  background-color: #8ec4e7;
  padding: 20px;
  position: fixed;
  height: 100%;
  width: 200px;
}

.form{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 200px;
}

.nav-link {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #8ec4e7;
  color: #1f2937;
  text-decoration: none;
}

.contact {
  text-align: center;
}

.Map {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .sidebar {
    flex: 0 0 100%;
    padding: 10px;
  }

  .content {
    flex-grow: 1;
    padding: 10px;
  }
}
